.FotoPerfil{
    width: 60%;
    border-radius: 50%;
    border: 0.5vw solid #ffffff4f;
    margin-bottom: 10px;
    animation: pulse 10s infinite;
    
}

@keyframes pulse {

    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1)
    }
  }

.content {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.menu {
    text-align: center;

}

.menu li {
    list-style-type: none;
    transition: 0.8S all;
    margin: 15px;
}

.menu a {
    text-decoration: none;
    color: #ffffffad;
    font-size: 22px;
    transition: 0.8S all;
    
   
}

.menu a:hover {
    color:white ;

}

.menu li:hover {
    transform: scale(1.1)
    
}

aside {
    background-color: #1abc9c;
    border-radius: 10px;
    position: absolute;
    padding: 0px 10px 0px 10px;
    margin: 8px;
    top: 0%;
    left: 0px;
    bottom: 0px;
    float: left;
    width: 20%;

}

.infos {
    margin-left: 25%;
    float: right;
    position: absolute;
    color: #464646;
}

.bio {
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    
    
}

h1 {
    font-size: 90px; 
    top: 50%;
    margin: 0px;
    transition: 0.8S all;
    display: inline-block;
}

h1:hover {
    transform: scale(1.03);
    cursor: default;
}

.infoend {
    font-size: 30px;
    transition: 0.8S all;
    display: table;
    
}

.infoend:hover {
    transform: scale(1.03);
    color: #1abc9c;
    cursor: default;
}

.descri {
    font-size: 20px;
    padding-right: 40%;
    transition: 0.8S all;
    display: inline-block;
    margin-top: 0px;
}

.descri:hover {
    transform: scale(1.03);
    color: #1abc9c;
    cursor: default;
}

.image1 {
 width: 51px;
 transition: 0.8S all;
 
}
.image2 {
    width: 50px;
    transition: 0.8S all;
   }
.image3 {
    width: 50px;
    transition: 0.8S all;
   }

.image4 {
    width: 50px;
    transition: 0.8S all;
   }

.image1:hover {
    transform: scale(1.2);
}
.image2:hover {
    transform: scale(1.2);
}
.image3:hover {
    transform: scale(1.2);
}

.image4:hover {
    transform: scale(1.2);
}

.conheci {
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    text-decoration: none;
    cursor: pointer;
}

.conheci a {
    text-decoration: none;
    color: #464646;
    transition: 0.8S all;
    cursor: pointer;
}

.conheci a:hover {
    color: #1abc9c;
}


ol li {
    margin-top: 20px;
    transition: 0.8S all;
    cursor: pointer;
    display: table;
    text-decoration: none;
}

ol li:hover {
    transform: scale(1.1);
    color: #1abc9c;
}


h2 {
    font-size: 90px; 
    top: 50%;
    margin: 0px;
    transition: 0.8S all;
    display: inline-block;

}

h2:hover {
    transform: scale(1.03);
    cursor: default;

}



.imgs {
    display: table;
}
/*--------------------------------------------- Efeitos ----------------------------------------------*/
.img1:hover a {
    color: #1abc9c;
}
.img1 {
    transition: 0.8S all;
    
    
}
.img1:hover{
    transform: scale(1.1);
}
.img1:hover .lin1 {
    opacity: 0%;
    
}

.img2:hover a {
    color: #1abc9c;
}
.img2 {
    transition: 0.8S all;
    
}
.img2:hover{
    transform: scale(1.1);
}
.img2:hover .lin2 {
    opacity: 0%;
    
}
.img2:hover a {
    color: #1abc9c;
}
.img3 {
    transition: 0.8S all;
    
}
.img3:hover{
    transform: scale(1.1);
}
.img3:hover .lin3 {
    opacity: 0%;
    
}
.img3:hover a {
    color: #1abc9c;
}
.img4 {
    transition: 0.8S all;
    
}
.img4:hover{
    transform: scale(1.1);
}
.img4:hover .lin4 {
    opacity: 0%;
    
}
.img4:hover a {
    color: #1abc9c;
}

/*--------------------------------------------- Efeitos ----------------------------------------------*/

.lin1 {
    vertical-align: -12px;
    width: 45px;
    margin-right: 4px;
    transition: 0.8S all;
    position: relative;
}


.lin2 {
    vertical-align: -13px;
    width: 50px;
    margin-right: 4px;
    transition: 0.8S all;
    position: relative;
    margin-left: -3px
}



.lin3 {
    vertical-align: -13px;
    width: 45px;
    margin-right: 4px;
    transition: 0.8S all;
    position: relative;
}



.lin4 {
    vertical-align: -12px;
    width: 45px;
    margin-right: 4px;
    transition: 0.8S all;
    position: relative;
    
}

.lin5 {
    vertical-align: -12px;
    width: 45px;
    margin-right: 4px;
    position: absolute;
    transition: 0.8S all;
}


.lin6 {
    vertical-align: -13px;
    width: 50px;
    margin-right: 4px;
    position: absolute;
    opacity: 100%;
    margin-left: -3px
}



.lin7 {
    vertical-align: -13px;
    width: 45px;
    margin-right: 4px;
    position: absolute;
    opacity: 100%;
}



.lin8 {
    vertical-align: -12px;
    width: 45px;
    margin-right: 4px;
    position: absolute;
    opacity: 100%;
}

